.barra-busqueda {

    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);

}

.icon {

    width: 16px;
    height: 16px;

    fill: currentColor;

}