<div class="confirm-dialog-overlay">

    <div class="confirm-dialog">

        <div id="contenedor-icono" class="confirm-dialog-icon">
            <!-- Icono -->

        </div>

        <h2 id="titulo" class="confirm-dialog-title">
            
        </h2>

        <p id="mensaje" class="confirm-dialog-message">
            
        </p>


        <div class="confirm-dialog-actions">

            <button id="btn-cancelar" class="btn-dialog btn-cancelar">
                Cancelar
            </button>

            <button id="btn-aceptar" class="btn-dialog btn-aceptar">
                Aceptar
            </button>

        </div>

    </div>

</div>
